config SHIELD_FLB36_LEFT
    def_bool $(shields_list_contains,flb36_left)

config SHIELD_FLB36_RIGHT
    def_bool $(shields_list_contains,flb36_right)

config SHIELD_FLB36_DONGLE
    def_bool $(shields_list_contains,flb36_dongle)
