if SHIELD_FLB36_DONGLE

config ZMK_KEYBOARD_NAME
    default "FLB36"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_SPLIT
    default y

config ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS
    default 2

config BT_MAX_CONN
    default 5

config BT_MAX_PAIRED
    default 5

endif

if SHIELD_FLB36_LEFT || SHIELD_FLB36_RIGHT || SHIELD_FLB36_DONGLE

config ZMK_SPLIT
    default y

endif
